h1 = @greeting 
p Here are new answers added to the question "#{link_to @answer.question.title, question_url(@answer.question) }" you've subscribed:
p = @answer.body
p If you can have something to add or this solves a problem – leave a comment!
